In [1]:
df = {
    'American Express': 93.23,
    'Boeing': 178.44,
    'Coca-Cola': 45.15,
    'Walt Disney': 119.34,
    'Nike': 97.99,
    'JPMorgan':96.27,
    'Walmart': 130.68 
}

total_value = 0

for key, value in df.items():
    total_value += value
print(total_value)
#print(total_value)

761.0999999999999

In [2]:
bus = {
    '72': ['8:00', '12:00', '17:30'],
    '26': ['9:30', '15:00'],
    '17': ['7:30', '12:30', '15:30']
}

# itere sobre as chaves e os valores do dicionário
for rota, horarios in bus.items():
    for hora in horarios:
        print(f'Rota {rota} partidas as {hora}')

for rota, horarios in bus.items():
    prim_horario = horarios[0]
    print(f'primeiro horario da rora {rota} é as {prim_horario}')

Rota 72 partidas as 8:00
Rota 72 partidas as 12:00
Rota 72 partidas as 17:30
Rota 26 partidas as 9:30
Rota 26 partidas as 15:00
Rota 17 partidas as 7:30
Rota 17 partidas as 12:30
Rota 17 partidas as 15:30
primeiro horario da rora 72 é as 8:00
primeiro horario da rora 26 é as 9:30
primeiro horario da rora 17 é as 7:30

In [3]:
bus_schedule = {
    '72': ['8:00', '12:00', '17:30'],
    '26': ['9:30', '15:00'],
    '17': ['7:30', '12:30', '15:30']
}

for route, times in bus_schedule.items():
    earliest_time = times[0]
    print(f'O horário da primeira partida do ônibus #{route} é {earliest_time}')

O horário da primeira partida do ônibus #72 é 8:00
O horário da primeira partida do ônibus #26 é 9:30
O horário da primeira partida do ônibus #17 é 7:30

In [4]:
movies = [
    ['The Shawshank Redemption', 'USA', 'drama', 1994, 142, 9.111],
    ['The Godfather', 'USA', 'drama, crime', 1972, 175, 8.730],
    ['The Dark Knight', 'USA', 'fantasy, action, thriller', 2008, 152, 8.499]
]

print(movies[2][3])

2008

In [5]:
movies_table = [
    {'movie_name':'The Shawshank Redemption', 'country':'USA', 'genre':'drama', 'year':1994, 'duration':142, 'rating':9.111},
    {'movie_name':'The Godfather', 'country':'USA', 'genre':'drama, crime', 'year':1972, 'duration':175, 'rating':8.730},
    {'movie_name':'The Dark Knight', 'country':'USA', 'genre':'fantasy, action, thriller', 'year':2008, 'duration':152, 'rating':8.499}
]

# agora acesse a coluna pelo nome:
print(movies_table[0]['movie_name'])

The Shawshank Redemption

In [6]:
order = [
    {
        'item': 'Margherita pizza',
        'category': 'pizza',
        'quantity': 2,
        'price': 9
    },
    {
        'item': 'Ham pizza',
        'category': 'pizza',
        'quantity': 1,
        'price': 12
    },
    {
        'item': 'Pepsi 1 l',
        'category': 'beverages',
        'quantity': 3,
        'price': 2
    }
]

# variável para o preço total do pedido
total_price = 0 

# itera sobre cada dicionário da lista
for item in order: 
# na variável, soma o preço do item multiplicado pela quantidade
    total_price += item['price'] * item['quantity']

print(total_price)

36

In [7]:
movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = [] # lista vazia para armazenar o resultado

for movie in movies_info: # iterando sobre as linhas da tabela original
    if movie[4] > 180: # se um filme dura mais do que 180 min
        movies_filtered.append(movie) # adiciona a linha à lista movie_filtered

for movie in movies_filtered: # imprimindo o conteúdo da lista movies_filtered
    print(movie)

["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625]

In [8]:
order = [
    {
        'item': 'Margherita pizza',
        'category': 'pizza',
        'quantity': 2,
        'price': 9
    },
    {
        'item': 'Ham pizza',
        'category': 'pizza',
        'quantity': 1,
        'price': 12
    },
    {
        'item': 'Pepsi 1 l',
        'category': 'beverages',
        'quantity': 3,
        'price': 2
    }
]

# variável para armazenar o resultado
filtered_order = [] 

for item in order: # itera sobre cada dicionário da lista
	if item['category'] == 'pizza': # se a categoria for pizza...
		filtered_order.append(item) # adiciona o dicionário à lista filtered_order

# imprime a lista de dicionários filtrada
print(filtered_order)

[{'item': 'Margherita pizza', 'category': 'pizza', 'quantity': 2, 'price': 9}, {'item': 'Ham pizza', 'category': 'pizza', 'quantity': 1, 'price': 12}]

Vamos voltar para o exemplo do dicionário order. Encontre o preço total para todas as pizzas em order e o imprima. Use a mesma abordagem que usamos nos exemplos desta lição

In [9]:
order = [
    {
        'item': 'Margherita pizza',
        'category': 'pizza',
        'quantity': 2,
        'comment': 'Add extra cheese please!',
        'price': 9 # preço por item
    },
    {
        'item': 'Ham pizza',
        'category': 'pizza',
        'quantity': 1,
        'comment': '',
        'price': 12
    },
    {
        'item': 'Pepsi 1 l',
        'category': 'beverages',
        'quantity': 3,
        'comment': '',
        'price': 2
    },
    {
        'item': 'Apple juice 0.5 l',
        'category': 'beverages',
        'quantity': 1,
        'comment': '',
        'price': 1
    },
    {
        'item': 'Croissant with cheese',
        'category': 'baked foods',
        'quantity': 2,
        'comment': '',
        'price': 1
    }
]

total_pizza_price = 0

for item in order:
    if item['category'] == 'pizza':
        total_pizza_price += item['price'] * item['quantity']

print(total_pizza_price)

30

** 6.3.05 Funções: parâmetros e valores padrão

In [4]:
# adiciona um valor padrão ao parâmetro eggs_number
def omelet(eggs_number=2):
    result = 'A omelete está pronta! Ovos usados: ' + str (eggs_number)
    return result

print(omelet())

A omelete está pronta! Ovos usados: 2

Importante!
Ao definir uma função, parâmetros opcionais devem ser colocados após os obrigatórios, ou seja, aqueles que não têm valores padrão atribuídos a eles. Caso contrário, você vai obter um erro quando chamar a função.

In [5]:
# adiciona um valor padrão ao parâmetro eggs_number
def omelet(cheese, eggs_number=2):
    result = 'A omelete está pronta! Ovos usados: ' + str(eggs_number)
    if cheese == True:
        result = result + ', com queijo'
    else:
        result = result + ', sem queijo'
    return result

print(omelet(False))

A omelete está pronta! Ovos usados: 2, sem queijo

In [6]:
# essa função imprime tabelas filtradas. Não a modifique
def print_movie_info(data):
    for movie in data:
        print(movie)


# defina sua função filter_by_genre() aqui
def filter_by_genre(data, genre = 'drama'):
    movies_filtered = [] # lista vazia para armazenar o resultado
    for movie in data: # iterando sobre as linhas da tabela original
        if genre in movie[3]:
            movies_filtered.append(movie) # adiciona a linha à lista movie_filtered
    return movies_filtered

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

# abaixo, executamos duas funções para obter o resultado. Não as modifique
movies_filtered = filter_by_genre(movies_info)
print_movie_info(movies_filtered)

['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.73]
["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625]
['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]
['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106]
['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]

** 6.3.06 Funções: retorno de valores **

In [14]:
# Término de uma função

def omelet(eggs_number=2):
    if eggs_number > 0:
        return 'A omelete está pronta! Ovos usados: ' + str(eggs_number)
    else:
        return 'Como fazer uma omelete sem ovos?'
    print('Eu nunca serei impressa :(')


print(omelet(3))
print(omelet(0))
print(omelet())

A omelete está pronta! Ovos usados: 3
Como fazer uma omelete sem ovos?
A omelete está pronta! Ovos usados: 2

In [12]:
# Múltiplos resultados

def area_and_perim(side_1, side_2):
    area = side_1 * side_2
    perimeter = 2 * (side_1 + side_2)
    return area, perimeter

print(area_and_perim(3, 2))

(6, 10)

In [ ]:
# agora atribuímos o resultado da função às variáveis globais rec_area e rec_perimeter

def find_area_and_perim(side1, side2):
    area = side1 * side2
    perimeter = 2 * (side1 + side2)
    return area, perimeter

# desagrupa o resultado da função
rec_area, rec_perimeter = (find_area_and_perim(7, 3))

print(f'A área do retângulo é {rec_area}, o perímetro é {rec_perimeter}')

A área do retângulo é 21, o perímetro é 20