In [1]:
df = {
    'American Express': 93.23,
    'Boeing': 178.44,
    'Coca-Cola': 45.15,
    'Walt Disney': 119.34,
    'Nike': 97.99,
    'JPMorgan':96.27,
    'Walmart': 130.68 
}

total_value = 0

for key, value in df.items():
    total_value += value
print(total_value)
#print(total_value)

761.0999999999999

In [2]:
bus = {
    '72': ['8:00', '12:00', '17:30'],
    '26': ['9:30', '15:00'],
    '17': ['7:30', '12:30', '15:30']
}

# itere sobre as chaves e os valores do dicionário
for rota, horarios in bus.items():
    for hora in horarios:
        print(f'Rota {rota} partidas as {hora}')

for rota, horarios in bus.items():
    prim_horario = horarios[0]
    print(f'primeiro horario da rora {rota} é as {prim_horario}')

Rota 72 partidas as 8:00
Rota 72 partidas as 12:00
Rota 72 partidas as 17:30
Rota 26 partidas as 9:30
Rota 26 partidas as 15:00
Rota 17 partidas as 7:30
Rota 17 partidas as 12:30
Rota 17 partidas as 15:30
primeiro horario da rora 72 é as 8:00
primeiro horario da rora 26 é as 9:30
primeiro horario da rora 17 é as 7:30

In [3]:
bus_schedule = {
    '72': ['8:00', '12:00', '17:30'],
    '26': ['9:30', '15:00'],
    '17': ['7:30', '12:30', '15:30']
}

for route, times in bus_schedule.items():
    earliest_time = times[0]
    print(f'O horário da primeira partida do ônibus #{route} é {earliest_time}')

O horário da primeira partida do ônibus #72 é 8:00
O horário da primeira partida do ônibus #26 é 9:30
O horário da primeira partida do ônibus #17 é 7:30

In [4]:
movies = [
    ['The Shawshank Redemption', 'USA', 'drama', 1994, 142, 9.111],
    ['The Godfather', 'USA', 'drama, crime', 1972, 175, 8.730],
    ['The Dark Knight', 'USA', 'fantasy, action, thriller', 2008, 152, 8.499]
]

print(movies[2][3])

2008

In [5]:
movies_table = [
    {'movie_name':'The Shawshank Redemption', 'country':'USA', 'genre':'drama', 'year':1994, 'duration':142, 'rating':9.111},
    {'movie_name':'The Godfather', 'country':'USA', 'genre':'drama, crime', 'year':1972, 'duration':175, 'rating':8.730},
    {'movie_name':'The Dark Knight', 'country':'USA', 'genre':'fantasy, action, thriller', 'year':2008, 'duration':152, 'rating':8.499}
]

# agora acesse a coluna pelo nome:
print(movies_table[0]['movie_name'])

The Shawshank Redemption

In [6]:
order = [
    {
        'item': 'Margherita pizza',
        'category': 'pizza',
        'quantity': 2,
        'price': 9
    },
    {
        'item': 'Ham pizza',
        'category': 'pizza',
        'quantity': 1,
        'price': 12
    },
    {
        'item': 'Pepsi 1 l',
        'category': 'beverages',
        'quantity': 3,
        'price': 2
    }
]

# variável para o preço total do pedido
total_price = 0 

# itera sobre cada dicionário da lista
for item in order: 
# na variável, soma o preço do item multiplicado pela quantidade
    total_price += item['price'] * item['quantity']

print(total_price)

36

In [7]:
movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = [] # lista vazia para armazenar o resultado

for movie in movies_info: # iterando sobre as linhas da tabela original
    if movie[4] > 180: # se um filme dura mais do que 180 min
        movies_filtered.append(movie) # adiciona a linha à lista movie_filtered

for movie in movies_filtered: # imprimindo o conteúdo da lista movies_filtered
    print(movie)

["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625]

In [8]:
order = [
    {
        'item': 'Margherita pizza',
        'category': 'pizza',
        'quantity': 2,
        'price': 9
    },
    {
        'item': 'Ham pizza',
        'category': 'pizza',
        'quantity': 1,
        'price': 12
    },
    {
        'item': 'Pepsi 1 l',
        'category': 'beverages',
        'quantity': 3,
        'price': 2
    }
]

# variável para armazenar o resultado
filtered_order = [] 

for item in order: # itera sobre cada dicionário da lista
	if item['category'] == 'pizza': # se a categoria for pizza...
		filtered_order.append(item) # adiciona o dicionário à lista filtered_order

# imprime a lista de dicionários filtrada
print(filtered_order)

[{'item': 'Margherita pizza', 'category': 'pizza', 'quantity': 2, 'price': 9}, {'item': 'Ham pizza', 'category': 'pizza', 'quantity': 1, 'price': 12}]

Vamos voltar para o exemplo do dicionário order. Encontre o preço total para todas as pizzas em order e o imprima. Use a mesma abordagem que usamos nos exemplos desta lição

In [9]:
order = [
    {
        'item': 'Margherita pizza',
        'category': 'pizza',
        'quantity': 2,
        'comment': 'Add extra cheese please!',
        'price': 9 # preço por item
    },
    {
        'item': 'Ham pizza',
        'category': 'pizza',
        'quantity': 1,
        'comment': '',
        'price': 12
    },
    {
        'item': 'Pepsi 1 l',
        'category': 'beverages',
        'quantity': 3,
        'comment': '',
        'price': 2
    },
    {
        'item': 'Apple juice 0.5 l',
        'category': 'beverages',
        'quantity': 1,
        'comment': '',
        'price': 1
    },
    {
        'item': 'Croissant with cheese',
        'category': 'baked foods',
        'quantity': 2,
        'comment': '',
        'price': 1
    }
]

total_pizza_price = 0

for item in order:
    if item['category'] == 'pizza':
        total_pizza_price += item['price'] * item['quantity']

print(total_pizza_price)

30

** 6.3.05 Funções: parâmetros e valores padrão

In [4]:
# adiciona um valor padrão ao parâmetro eggs_number
def omelet(eggs_number=2):
    result = 'A omelete está pronta! Ovos usados: ' + str (eggs_number)
    return result

print(omelet())

A omelete está pronta! Ovos usados: 2

Importante!
Ao definir uma função, parâmetros opcionais devem ser colocados após os obrigatórios, ou seja, aqueles que não têm valores padrão atribuídos a eles. Caso contrário, você vai obter um erro quando chamar a função.

In [5]:
# adiciona um valor padrão ao parâmetro eggs_number
def omelet(cheese, eggs_number=2):
    result = 'A omelete está pronta! Ovos usados: ' + str(eggs_number)
    if cheese == True:
        result = result + ', com queijo'
    else:
        result = result + ', sem queijo'
    return result

print(omelet(False))

A omelete está pronta! Ovos usados: 2, sem queijo

In [6]:
# essa função imprime tabelas filtradas. Não a modifique
def print_movie_info(data):
    for movie in data:
        print(movie)


# defina sua função filter_by_genre() aqui
def filter_by_genre(data, genre = 'drama'):
    movies_filtered = [] # lista vazia para armazenar o resultado
    for movie in data: # iterando sobre as linhas da tabela original
        if genre in movie[3]:
            movies_filtered.append(movie) # adiciona a linha à lista movie_filtered
    return movies_filtered

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

# abaixo, executamos duas funções para obter o resultado. Não as modifique
movies_filtered = filter_by_genre(movies_info)
print_movie_info(movies_filtered)

['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.73]
["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625]
['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]
['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106]
['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]

** 6.3.06 Funções: retorno de valores **

In [14]:
# Término de uma função

def omelet(eggs_number=2):
    if eggs_number > 0:
        return 'A omelete está pronta! Ovos usados: ' + str(eggs_number)
    else:
        return 'Como fazer uma omelete sem ovos?'
    print('Eu nunca serei impressa :(')


print(omelet(3))
print(omelet(0))
print(omelet())

A omelete está pronta! Ovos usados: 3
Como fazer uma omelete sem ovos?
A omelete está pronta! Ovos usados: 2

In [12]:
# Múltiplos resultados

def area_and_perim(side_1, side_2):
    area = side_1 * side_2
    perimeter = 2 * (side_1 + side_2)
    return area, perimeter

print(area_and_perim(3, 2))

(6, 10)

In [ ]:
# agora atribuímos o resultado da função às variáveis globais rec_area e rec_perimeter

def find_area_and_perim(side1, side2):
    area = side1 * side2
    perimeter = 2 * (side1 + side2)
    return area, perimeter

# desagrupa o resultado da função
rec_area, rec_perimeter = (find_area_and_perim(7, 3))

print(f'A área do retângulo é {rec_area}, o perímetro é {rec_perimeter}')

A área do retângulo é 21, o perímetro é 20

6.3.7 >Pandas: o objeto Series<

Um objeto Series é essencialmente uma coluna de um DataFrame. Por exemplo, quando filtramos um DataFrame e extraímos uma coluna que nos interessa, essa coluna se torna um objeto Series.

quando você cria um DataFrame a partir de objetos Series individuais, o nome do objeto Series torna-se o nome da coluna.

import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

part_df = df['Artist']
print(part_df.name)
>>> Artist

Além do nome, o objeto Series tem determinado tamanho, ou seja, o número total de células. Ele pode ser acessado por meio do atributo size:

import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

part_df = df['Artist']
print(part_df.size)
... 67963 (Esse objeto Series contém 67.963 elementos, ou células.)

Tipo	Notação completa	Notação abreviada
Múltiplos elementos consecutivos (fatia)	total_play.loc[5:10] incluindo 10
                                                Total_play[5:10] não incluindo 10

Todos os elementos até o elemento escolhido	total_play.loc[:3] incluindo 3	
                                                total_play[:3] não incluindo 3

In [ ]:
#Extraia a coluna 'track' do DataFrame original e armazene-a na variável tracks. 
# Esse será seu objeto Series. 
# Em seguida, obtenha os primeiros 20 elementos desse objeto Series e 
# armazene-os na variável top20. Imprima essa variável.

import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

tracks = df['track'] # escreva seu código aqui
top20 = tracks [:20]# escreva seu código aqui

print(top20)

Filtragem de um objeto Series

A indexação lógica também funciona para um objeto Series e é mais simples que o equivalente do DataFrame, basta uma condição lógica

import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

total_play = df['total play']
lower_20 = total_play < 20

print(lower_20)

O resultado exibe o índice de cada música no objeto Series com o valor booleano com o valor True – e com o False

----------------------------------------------------------------------------------------------
*** É interessante que agora podemos usar esse novo objeto Series com valores booleanos para filtrar o DataFrame original. Veja como você pode fazer isso:

import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

total_play = df['total play']
lower_20 = total_play < 20

df_lower20_only = df[lower_20]

print(df_lower20_only)

O resultado é uma tabela filtrada contendo apenas as linhas com valores na coluna 'total play' inferiores a 20.

              user_id  total play                                  Artist   
3      EF15C7BA    8.966000                                     NaN  \
5      4166D680    3.007000  Henry Hall & His Gleneagles Hotel Band   
6       F4F5677    0.100000                                     NaN   
8      A5E0D927    3.161000                   Andrew Paul Woodworth   
10     D3DD8D00    8.836000                          Steve Campbell   
...         ...         ...                                     ...   
67951  A6E13637    1.318000                             Julien Mier   
67953  A06381D8    2.502000                             Flip Grater   
67956  816FBC10    2.000000                                   89ers   
67961  DB0038A8   11.529112                            Less Chapell   
67962  FE8684F6    0.100000                                     NaN   

----------------------------------------------------------------------------------------------

Como alternativa, você pode filtrar o objeto Series e obter apenas os valores que atendem aos seus critérios. Por exemplo, se temos o objeto Series com valores booleanos, podemos usar esse objeto para filtrar o objeto Series total_play:

import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

total_play = df['total play']
lower_20 = total_play < 20

series_lower20_only = total_play[lower_20]

print(series_lower20_only)

3         8.966000
5         3.007000
6         0.100000
8         3.161000
10        8.836000
           ...    
67951     1.318000
67953     2.502000
67956     2.000000
67961    11.529112
67962     0.100000
Name: total play, Length: 33868, dtype: float64
----------------------------------------------------------------------------------------------

Em primeiro lugar, extraia a coluna 'genre' do DataFrame original e armazena-a na variável genre. 

Em seguida, com base no exemplo acima, verifique se os valores no objeto Series são iguais a 'pop'. Armazene o resultado dessa verificação na variável pop_genre_check. 

Por fim, use pop_genre_check para filtrar o DataFrame df original para incluir apenas músicas pop. Armazene esse DataFrame filtrado na variável pop_df e o imprima.

*
import pandas as pd

df = pd.read_csv('/datasets/music_log_chpt_11.csv')

genre = df['genre'] # escreva seu código aqui
pop_genre_check = genre == 'pop' # escreva seu código aqui
pop_df = df[pop_genre_check]# escreva seu código aqui

print(pop_df)
*
       user_id  total play  ... genre                                         track
0      BF6EA5AF   92.851388  ...   pop                                        Musica
4      82F52E69  193.776327  ...   pop                        Me And My Broken Heart
8      A5E0D927    3.161000  ...   pop          The Name of This Next Song Is Called
11     596A4517    0.000000  ...   pop                                       Bye Bye
13     79D2876C    2.000000  ...   pop                            Räuber und Gendarm
17     AEAEF451   15.000000  ...   pop                                   General Zod
33     65608E7C    0.100000  ...   pop                         Don't Dream It's Over
41     2F4F0630    0.100000  ...   pop                                   Cool Breeze
48     EE908C06   84.519176  ...   pop                              Eye Of The Tiger
55     D52D00EA    8.443000  ...   pop                                Люби меня люби
59     A40236D7   43.000000  ...   pop                                  Bitches Tune
78     20B8C4FB  211.565714  ...   pop                            Rakkautta ja rahaa
81     FA279DD2    1.523753  ...   pop                            Up Where We Belong
85     F6939D17  187.000000  ...   pop                Cold (Reprise Maroon 5 Future)
86     AC0AF747    0.100000  ...   pop                                      Slow Day
96     7F38A6F8   50.040000  ...   pop                      When It’s Done It’s Done
97     510D9BEE  213.004754  ...   pop                        Anna Mun Jäädä Sun Luo
98     A95CC18E   31.696000  ...   pop                                       Gravity
101    11B83119   48.000000  ...   pop                                    All I Want
103    14B73B59   31.323301  ...   pop                                  Se te ne vai
111    9C533CB1  248.450612  ...   pop                   Lullaby to an Anxious Child
112    748BE5A3    0.100000  ...   pop                                   Sessiz Gemi
114    E3B367E9    2.000000  ...   pop                                    110% Intro
122    66177A34    0.100000  ...   pop                                   Butterflies
125     1451927  162.075000  ...   pop                                 Toda la Noche
137    FB7E4FD8  164.931000  ...   pop                                        Famous
139    8C1DC60F    0.000000  ...   pop  If You Should Ever Go (Castles Turn to Sand)
144    D5EDEFF9    2.436113  ...   pop                        Første gangen om igjen
148    24C2E9D6  213.786083  ...   pop                                    D.i.s.c.o.
164    F14E5BD3   46.220238  ...   pop                                     Рисунками
...         ...         ...  ...   ...                                           ...
67702  CAB52D09  250.723265  ...   pop                         I Want What She's Got
67712  9E6700D3  184.000000  ...   pop     Näin on käynyt sorry - Ciao Bambino Sorry
67728  322B4139   85.000000  ...   pop                               Bird In My Hand
67743  2135677B    2.538000  ...   pop                                       Unknown
67755  728D3E60    1.661000  ...   pop                            Strings For Yasmin
67756  9B782CAB  184.436000  ...   pop                                          Time

6.3.8   Pandas: estatística descritiva

No final desta lição, você saberá usar quatro métricas simples para entender as propriedades básicas dos dados: os valores máximo e mínimo, a mediana e a média. Saber usar essas métricas vai permitir ter uma boa noção da estrutura de seus dados.

Valor máximo ..... use o método max()

import pandas as pd

df = pd.read_csv('/datasets/music_log_processed.csv')

print(df['total_play'].max())
>>> 8638.735999999999

** Mas que musica é essa ??? 

print(df[df['total_play'] == df['total_play'].max()])
>>>    user_id  total_play   artist    genre    track
8895   FE76AC63  8638.736    no_info  no_info  no_info

#Tarefa 1
# Agora, vamos conduzir uma análise parecida, mas apenas para músicas pop. No código abaixo, filtramos o DataFrame original para extrair todas as linhas correspondentes às músicas pop. Em seguida, como fizemos na lição, eliminamos todas as linhas em que a coluna 'total_play' é inferior a 30 segundos porque consideramos essas músicas como puladas.

Vamos verificar a reprodução mais longa de uma música pop. Calcule-a e imprima o resultado.

import pandas as pd

df = pd.read_csv('/datasets/music_log_processed.csv')

pop_tracks = df[df['genre'] == 'pop']
pop_tracks = pop_tracks[pop_tracks['total_play'] > 30]

max_dur = pop_tracks['total_play'].max()
 
print(max_dur)

>>> 1158.0280450000016

# Valor mínimo  método min()

df_drop_skip = df[df['total_play'] > 30]

print(df_drop_skip['total_play'].min())
>>> 30.000497

# Agora vamos obter os nomes das músicas que os usuários pularam rapidamente. Vamos aplicar a indexação lógica, assim como fizemos quando estávamos procurando o valor máximo:

print(df_drop_skip[df_drop_skip['total_play'] == df_drop_skip['total_play'].min()])

>>>               user_id  total_play       artist genre     track
56351            95B68844  30.000497        Bob Baldwin      jazz  Can You Feel It? (Interlude)

# Mediana  .... método median()
Assim como os métodos min() e max(), median()pode ser aplicado à tabela inteira ou a dados agrupados.

print(df['total_play'].median())
>>> 21.337

df_drop_skip = df[df['total_play'] > 30]
print(df_drop_skip['total_play'].median())
>>> 201.96

# Média     .... método mean()
print(df_drop_skip['total_play'].mean())
>>> 206.13

**É um valor bem próximo da mediana! Se a média fosse muito maior ou muito menor, isso poderia indicar a presença de valores atípicos. Outliers (valores atípicos)**

Tarefas
# Tarefa 2

Já encontramos o valor máximo na tarefa anterior. Seu objetivo agora é calcular os valores da mediana e da média para a coluna 'total_play' e imprimi-los.

import pandas as pd

df = pd.read_csv('/datasets/music_log_processed.csv')

pop_tracks = df[df['genre'] == 'pop']
pop_tracks = pop_tracks[pop_tracks['total_play'] > 30]

pop_mean = pop_tracks['total_play'].mean() # escreva seu código aqui
pop_median = pop_tracks['total_play'].median()  # escreva seu código aqui
 
print(pop_mean)
print(pop_median)

Resultado
186.25846123970464
197.996
--------------------------------------------------------------------------------------